body{
    font-family: 'Poppins', sans-serif;
}
.top-part{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.half-width{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#intro-part-1{
    padding-right: 100px;
}
#intro-part-1-1{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
    border-left: 5px solid;
    border-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
    border-image-slice: 1;
    padding-left: 10px;
}
.headings-color{
    color: rgba(54, 58, 58, 0.658);
    font-family: 'Love Light', cursive;
    font-size: 50px;
}
#intro-h3{
    color: white;
    background-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
    padding: 15px;
    border-radius: 5px;
}
.justify{
    text-align: justify;
}
.p-photo{
    width: 80%;
    padding-left: 100px;
}
.buttons{
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    background-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
}
#mission-h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 50px;
    text-align: center;
}
#year{
    color: rgba(54, 58, 58, 0.658);
    font-size: 100px;
}