body{
    font-family: 'Poppins', sans-serif;
}
.top-part{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.half-width{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#intro-part-1{
    padding-right: 100px;
}
#intro-part-1-1{
    font-family: 'Cormorant Upright', serif;
    font-size: xx-large;
    border-left: 5px solid;
    border-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
    border-image-slice: 1;
    padding-left: 10px;
}
.headings-color{
    color: rgba(54, 58, 58, 0.658);
    font-family: 'Love Light', cursive;
    font-size: 50px;
}
#intro-h3{
    color: white;
    background-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
    padding: 15px;
    border-radius: 5px;
}
.justify{
    text-align: justify;
}
.p-photo{
    width: 80%;
    padding-left: 100px;
}
.buttons{
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 6px;
    background-image: linear-gradient(cyan, rgba(85, 85, 238, 0.822));
}
#mission-h1{
    font-family: 'Cormorant Upright', serif;
    font-size: 50px;
    text-align: center;
}
#year{
    color: rgba(54, 58, 58, 0.658);
    font-size: 100px;
}
.middle-part{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.mission{
width: 30%;
margin: 3%;
padding: 40px;
background-color: antiquewhite;
border-radius: 15px;
}
.illustrations{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}
.middle-part-headings{
    font-size: x-large;
}
.names{
    color: rgba(54, 58, 58, 0.658);
    text-decoration: none;
    font-style: italic;
}
.vision{
    width: 30%;
    padding: 40px;
    margin: 3%;
    background-color: rgba(250, 235, 215, 0.562);
    border-radius: 15px;
}
.goals{
    width: 30%;
    padding: 40px;
    margin: 3%;
    background-color: rgba(255, 192, 203, 0.432);
    border-radius: 15px;
}
.third-part{
    display: flex;
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px;
    margin-left: 8%;
    margin-bottom: 50px;
}
.third-part-img{
    width: 80%;
    margin-top: 4%;
    margin-left: 10%;
    padding-left: 85px;
}
.third-part-2{
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 2%;
    padding-left: 50px;
}
.bold-texts{
    font-size: xx-large;
    font-weight: 900;
}
.bold-texts-2{
    font-size: small;
    font-weight: 600;
}
.fourth-part{
    display: flex;
    margin: 10%;
}
.fourth-part-1{
    padding: 60px;
}
.fourth-part-2{
    width: 90%;
}